__pycache__
.cache
.pyc
session-4/kurosawa
session-5/trump*
.DS_Store
venv
.ipynb_checkpoints
img_align_celeba
session-1/imgs
MNIST_data
session-3/mani*
session-3/recon*
session-3/vae.ckpt*
session-4/*.gif
session-4/*.zip
session-4/*model
session-4/*.txt
session-4/*.png
session-4/inception
session-3/*png
session-4/inception-2015-12-05.tgz
session-4/inception-2015-12-05/
session-4/matt.jpg
session-4/mesq.jpg
session-4/tag_list.json
session-4/tiger1.jpg
session-4/vgg_face.json
session-5/checkpoint
session-5/gan.ckpt-0.data-00000-of-00001
session-5/gan.ckpt-0.index
session-5/imgs/
session-5/session-5-part-1-other.ipynb
session-4/session-4-other.ipynb
session-4/tellie.jpg
session-4/tellie2.jpg
session-4/tiger.jpg
session-4/transform2.jpg
session-4/vangogh.jpg
session-5/celeb.gif
session-5/celeb.vaegan.tfmodel
session-5/list_attr_celeba.txt
session-5/mesq.jpg
session-5/montage.png
session-5/vaegan.ckpt-200.data-00000-of-00001
session-5/vaegan.ckpt-200.index
session-5/vaegan.ckpt-400.data-00000-of-00001
session-5/vaegan.ckpt-400.index
session-5/vaegan.ckpt-600.data-00000-of-00001
session-5/vaegan.ckpt-600.index